body {
    
  background-color: #EFEFEF;
  }

.Logo{
    left: 600px;
    top: 30px;
    position: absolute;
    width: 10%;
    padding: 3px 4px 5px 2px;
  }

.basediv{

  margin:40px auto;
  border-radius: 12px;
  width: 250px;
  height: 250px;
  background-color: white;
  padding: 100px;
  border: 1px solid #000000; 
  }
  
  body {
    width: 90%;
    margin: 0 auto;
  }
  header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
  
  }

  .waves{
    position: absolute;
    bottom:0px;
    left: 0px;
    width:100%;
    }