body {
    
  
  position: relative;
width: 152px;
height: 98px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #EFEFEF;
  }

.Logo{
    left: 520px;
    top: 30px;
    position: absolute;
    width: 10%;
    padding: 3px 4px 5px 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

.basediv{

  margin:40px auto;
  border-radius: 12px;
  width: 250px;
  height: 250px;
  background-color: white;
  padding: 100px;
  border: 1px solid #000000; 
  box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.2);
  }
  
  body {
    width: 90%;
    margin: 0 auto;
  }
  header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
  
  }

  .waves{
    position: absolute;
    bottom:0px;
    left: 0px;
    top: 458px;
    width:100%;
    }

    .login-button {
      position: absolute;
      width: 373px;
      height: 57px;
      left: 390px;
      top: 300px;
      border-radius: 6px;
    
    background: #871628F5;

    }

     .form-field {
      margin-bottom: 16px;
      width: 100%;
      position: relative;
    }
    
    form-field .icon {
      position: absolute;
      background: white;
      color: #d61e2d;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      width: 40px;
      height: 40px;
      justify-content: center;
      border-radius: 20px;
    }
    
    form-field .icon:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-left: 12px solid white;
      position: absolute;
      top: 8px;
      right: -20px;
    }
    
    form-field input {
      border: 1px solid rgba(255, 255, 255, 0.2);
      text-align: center;
      width: 100%;
      border-radius: 16px;
      height: 36px;
      background: rgba(255, 255, 255, 0.1);
      color: white;
      outline: none;
      transition: all 0.2s;
    }
    
    form-field input::placeholder {
      color: white;
    }
    
    form-field input:hover,
    form-field input:focus {
      background: white;
      color: #d61e2d;
      transition: all 0.2s;
    }
    
    form-field input:hover::placeholder {
      color: #d61e2d;
    }












